/*global settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }
  
  header{
    margin: 1em;
    background-color: grey;
    color: white;
    padding: 1em;
  }
  header p {
    text-align: right;
    font-size: xx-large;
  }
  /*various headings*/
h1 {
  font-size: 300%;
  margin-top: 4em;
}

h2 {
  font-size: 200%;
}  
a {
  text-decoration: none;
}
h4  {
  margin-top: 1em;
}

ol, ul {
    list-style: none;
  }
button {
  margin-top: 1em;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: yellow;
  background-color: purple;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
button:hover {
  background-color: #bb1e87
}
button:active {
  background-color: purple;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

main {
  text-align: center;
  padding: 1em;
}

.question {
  display: none;
}
  /* Matches the font of special elements to the rest of the page */
input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  }

.clearfix {
  margin: 2em;
  display: flex;
  justify-content: space-evenly;
}